# Files and content not to be tracked

#
# Target and Gen Dirs
#
Model/root/data_experiments/target


#
# Databases
# 

# 8K Images
Model/datasets/Zhenqiang_8K_Images

# LIVE Database
Model/root/data_experiments/LIVE/databaserelease2/fastfading
Model/root/data_experiments/LIVE/databaserelease2/gblur
Model/root/data_experiments/LIVE/databaserelease2/jp2k
Model/root/data_experiments/LIVE/databaserelease2/jpeg
Model/root/data_experiments/LIVE/databaserelease2/refimgs
Model/root/data_experiments/LIVE/databaserelease2/wn


#
# Compiled Sources
# 

# General
*.com
*.class
*.dll
*.exe
*.o
*.so

# Latex specific (continuous compiler)
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz


#
# Environment
#
*.vimrc
*.DS_Store
*.localized
