# Files and content not to be tracked

#
# Target and Gen Dirs
#
*/target/
*/gen/
__pycache__


#
# Compiled Sources
# 

# General
*.com
*.class
*.dll
*.exe
*.o
*.so

# Latex specific (continuous compiler)
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz


#
# Environment
#
*.vimrc
*.DS_Store
*.localized

# Saved Models
*.pth

# Numpy outputs
*.npy
