# Files and content not to be tracked

#
# Target and Gen Dirs
#
ModelRoot/data_experiments/target


#
# Databases
# 

# 8K Images
ModelRoot/datasets/Zhenqiang_8K_Images

# LIVE Database
ModelRoot/data_experiments/LIVE/databaserelease2/fastfading
ModelRoot/data_experiments/LIVE/databaserelease2/gblur
ModelRoot/data_experiments/LIVE/databaserelease2/jp2k
ModelRoot/data_experiments/LIVE/databaserelease2/jpeg
ModelRoot/data_experiments/LIVE/databaserelease2/refimgs
ModelRoot/data_experiments/LIVE/databaserelease2/wn


#
# Compiled Sources
# 

# General
*.com
*.class
*.dll
*.exe
*.o
*.so

# Latex specific (continuous compiler)
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz


#
# Environment
#
*.vimrc
*.DS_Store
*.localized
