<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bowser@2.5.3/es5.js"></script>
    <script src="2-bowser.js"></script> -->
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" media="all" rel="stylesheet" type="text/css">
    <link href="https://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" media="all" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
    </style>

</head>

<body>

    <div class='container'style="text-align: center;" >
        <h1 style="text-align: center;" class="display-4">Image Compression Page</h1>
        <br>
        <input type="file" name- "file[]" class="form-control-file border" id='file' multiple>
        <br>
        <button type="button" class="btn btn-primary" id='ssubmit'>Compress Image</button>
        <br>
        <div style="display: none;">
            <button type="button" class="btn btn-primary" id="show_image">Got image, show?</button>
        </div>
        <br>
        <div id="image_class" style="display: none;text-align: center;align-content: center;">
            <h4 id = 'orig_section'>Original Image:</h4>
                <img id = 'orig' src = ''>   
                <br>
                <h5 id = 'size_orig'></h5>
                <br>
            <h4 id = 'compress_section'>Compressed Image:</h1>
                <br>
                <img id = 'result' src = '' style="display: none;">
                <br>
                <h5 id = 'size_new'></h5>
                <br>
            
        </div>
    </div>
</body>
<script>
    var double_click = false;
    $('#show_image').on('click',function(){

        });
        var orig_image_size;
        $('#ssubmit').on('click',function(){
            console.log('button clicked');

            var fd = new FormData();
            var files = $('#file')[0].files;
            console.log(files);
            for (var i = 0; i < files.length; i++) {
                var n = 'file'+String(i);
                orig_image_size = files[i].size;
                console.log(files[i]);
                fd.append(n,files[i]);
            }
            

            $.ajax({
                url : 'upload',
                type : 'post',
                data : fd,
                contentType: false,
                processData: false,
                enctype:"multipart/form-data",

                success: function( data, textStatus, request ){
                   console.log('it worked');
                   console.log(request.getResponseHeader('Content-Length'))
                   data = data.substring(2,data.length-2);
                   console.log(parseInt(data*2));
                   data = parseInt(data*2)
   
                        var mime_type = 'image/jpeg';
       
                        var source_img_obj =document.getElementById('orig');
                        source_img_obj.src =  URL.createObjectURL($('#file')[0].files[0]);//new Image($('#file')[0].files);
                        var result_image_obj = document.getElementById('result');
                        //result_image_obj.src =source_img_obj.src;
                        // console.log(source_img_obj.files[0].size);
                        // console.log(result_image_obj.files[0].size);
                        var cvs = document.createElement('canvas');
                        cvs.width = source_img_obj.naturalWidth;
                        cvs.height = source_img_obj.naturalHeight;
                        var ctx = cvs.getContext("2d").drawImage(source_img_obj, 0, 0);
                        var newImageData = cvs.toDataURL(mime_type, 2 * parseInt(data/2) / 100);
                        var oldImageData = cvs.toDataURL(mime_type, 2 * 100 / 100);
                        //console.log(encodeURI(oldImageData).split(/%(?:u[0-9A-F]{2})?[0-9A-F]{2}|./).length - 1)

                    
                        // var canvas = document.createElement("canvas");
                        // canvas.width = source_img_obj.width;
                        // canvas.height = source_img_obj.height;
                        // var ctx = canvas.getContext("2d");
                        // ctx.drawImage(source_img_obj, 0, 0);
                        // var dataURL = canvas.toDataURL("image/jpg");


                        //var result_image_obj = new Image();
                        var comp_lvl = document.getElementById('comp_lvl');
                        if(comp_lvl != null){
                            comp_lvl.parentNode.removeChild(comp_lvl);
                        }
                        $('#compress_section').append('<h5 id ="comp_lvl">Compression Level: '+data+'/100</h5<br>');
                        var size_orig = encodeURI(oldImageData).split(/%(?:u[0-9A-F]{2})?[0-9A-F]{2}|./).length - 1
                        var size_new = encodeURI(newImageData).split(/%(?:u[0-9A-F]{2})?[0-9A-F]{2}|./).length - 1
                        console.log(encodeURI(oldImageData).split(/%(?:u[0-9A-F]{2})?[0-9A-F]{2}|./).length - 1);
                        console.log(encodeURI(newImageData).split(/%(?:u[0-9A-F]{2})?[0-9A-F]{2}|./).length - 1);//(encodeURI(newImageData).split(/%(?:u[0-9A-F]{2})?[0-9A-F]{2}|./).length - 1)*8);
                        result_image_obj.src = newImageData;
                        document.getElementById('result').style.display = 'block';
                        document.getElementById('image_class').style.display = 'block';
                        double_click = !double_click
                        document.getElementById('size_orig').innerHTML = 'Size in Bytes + ~30000 Bytes Padding: '+size_orig; 
                            document.getElementById('size_new').innerHTML = 'Size in Bytes + ~30000 Bytes Padding: '+size_new; 
                        if(double_click ==false){
                            $('#show_image').mousedown();
                            s_orig_elem = document.getElementById('size_orig');
                            s_new_elem = document.getElementById('size_new');
                            // if(s_orig_elem != null){
                            //     s_orig_elem.parentNode.removeChild(s_orig_elem);
                            //     s_new_elem.parentNode.removeChild(s_new_elem);
                            // }
                            document.getElementById('size_orig').innerHTML = 'Size in Bytes + Padding: '+size_orig; 
                            document.getElementById('size_new').innerHTML = 'Size in Bytes + Padding: '+size_new; 
                        }
                        double_click = !double_click

                   $("#image_class").show();
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    alert('oh no');
                    console.log( errorThrown );
    }
            })

        });
</script>

</html>